
header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}
a{
  text-decoration: none;
}
.link {
  color: #61dafb;
}
.productContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.productCard{
  display: flex;
  flex-direction:column;
  width: 30vw;
  height: 200px;
  margin: 0.5rem;
  align-items: center;
  border: 0.1rem solid;
}
.name{
  line-height: 1;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem 
}
.productImg{
  height: 70%;
  width:80%;
}

.priceAndAdd{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.addButton{
  margin: 0.2rem 0.2rem 0.2rem 0.2rem ;
  line-height: 2;
  width:8vw;
  border-radius: 0.5rem;
  border:2px;
  background-color: royalblue;
}
.addButton:hover{
  background-color: orange;
}
.heading{
  text-align: left;
  padding-left:4rem ;
}
